<!DOCTYPE html>
<html lang="en">

<head>
        <title>Mencoba Layout Semantik</title>
</head>
    <body>
    <center><h1>Layout Semantik</h1>
        <nav>
        <a href="#">Home</a> |
        <a href="#">About</a> 
    </center></nav>
        <section>
            <article>
            <center><h1>Overwatch2</h1></center>
            <p>Overwatch 2 is a first-person shooter developed and published by <a href="#">Blizzard Entertainment</a>. 
                As a sequel to the 2016 hero shooter <a href="#">Overwatch</a>, the game intends a shared environment for player-versus-player modes while introducing persistent cooperative modes.
            </article>
        </section>

    </body>
</html>